body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #000;
  overflow: scroll;
}

h2 {
  font-size: 4em;
  text-align: center;
}

p {
  font-size: 1.5em;
  text-align: justify;
  padding: 50px;
}

.cursor {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
#removeCss {
  opacity: 0; /* Initially invisible */
  visibility: hidden;
  position: fixed;
  bottom: 200px;
  left: 500px;
  padding: 12px 20px;
  background: #ff4d94; /* Pink color */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Create a hoverable area */
#buttonWrapper {
  position: fixed;
  bottom: 200px;
  left: 500px;
  width: 200px;
  height: 90px;
}

/* When hovering on the area, reveal the button */
#buttonWrapper:hover #removeCss {
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
}

/* Click effect */
#removeCss:active {
  background: #ff1a75; /* Darker pink */
  transform: scale(0.95);
}
